@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-ds-background: var(--ds-background);
  --color-ds-foreground: var(--ds-foreground);

  --color-ds-card: var(--ds-card);
  --color-ds-card-foreground: var(--ds-card-foreground);

  --color-ds-primary: var(--ds-primary);
  --color-ds-primary-foreground: var(--ds-primary-foreground);

  --color-ds-secondary: var(--ds-secondary);
  --color-ds-secondary-foreground: var(--ds-secondary-foreground);

  --color-ds-accent: var(--ds-accent);
  --color-ds-accent-foreground: var(--ds-accent-foreground);

  --color-ds-destructive: var(--ds-destructive);
  --color-ds-destructive-foreground: var(--ds-destructive-foreground);

  --color-ds-border: var(--ds-border);
  --color-ds-input: var(--ds-input);
  --color-ds-ring: var(--ds-ring);

  --color-ds-text: var(--ds-text);

  --color-ds-muted: var(--ds-muted);
  --color-ds-muted-foreground: var(--ds-muted-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);

  /* text size */
  --text-title-lg: var(--ds-text-title-lg);
  --text-title: var(--ds-text-title);

  --text-subtitle: var(--ds-text-subtitle);

  --text-paragraph-lg: var(--ds-text-paragraph-lg);
  --text-paragraph: var(--ds-text-paragraph);

  --text-caption: var(--ds-text-caption);
  --text-small: var(--ds-text-small);
}

/* LIGHT MODE */

:root {
  /* Background & Foreground */
  --ds-background: #ffffff;
  --ds-foreground: #0f2723;

  /* Card */
  --ds-card: #ffffff;
  --ds-card-foreground: #0f2723;

  /* Primary */
  --ds-primary: #0d9488;
  --ds-primary-foreground: #ffffff;

  /* Secondary */
  --ds-secondary: #ffffff;
  --ds-secondary-foreground: #134e4a;

  /* Accent */
  --ds-accent: #06b6d4;
  --ds-accent-foreground: #ffffff;

  /* Destructive */
  --ds-destructive: #dc2626;
  --ds-destructive-foreground: #ffffff;

  /* Border & Input */
  --ds-border: #e5e7eb;
  --ds-input: #f0fdfa;
  --ds-ring: #14b8a6;

  /* Text */
  --ds-text: #0f172a;

  /* Muted */
  --ds-muted: #64748b;
  --ds-muted-foreground: #4b5563;

  /* text size */

  --ds-text-title-lg: 1.5rem; /* 24px */
  --ds-text-title: 1.25rem; /* 20px */
  --ds-text-subtitle: 1.125rem; /* 18px */

  --ds-text-paragraph-lg: 1.125rem; /* 18px */
  --ds-text-paragraph: 1rem; /* 16px */

  --ds-text-caption: 0.875rem; /* 14px */
  --ds-text-small: 0.75rem; /* 12px */
}

/* dark mode  */

.dark {
  /* Background & Foreground */
  --ds-background: #042f2e;
  --ds-foreground: #f0fdfa;

  /* Card */
  --ds-card: #0d3b38;
  --ds-card-foreground: #f0fdfa;

  /* Primary */
  --ds-primary: #2dd4bf;
  --ds-primary-foreground: #042f2e;

  /* Secondary */
  --ds-secondary: #134e4a;
  --ds-secondary-foreground: #ccfbf1;

  /* Accent */
  --ds-accent: #22d3ee;
  --ds-accent-foreground: #042f2e;

  /* Destructive */
  --ds-destructive: #ef4444;
  --ds-destructive-foreground: #ffffff;

  /* Border & Input */
  --ds-border: #134e4a;
  --ds-input: #0d3b38;
  --ds-ring: #2dd4bf;

  /* Text */
  --ds-text: #f8fafc;

  /* Muted */
  --ds-muted: #115e59;
  --ds-muted-foreground: #99f6e4;

   /* text size */

  --ds-text-title-lg: 1.5rem; /* 24px */
  --ds-text-title: 1.25rem; /* 20px */
  --ds-text-subtitle: 1.125rem; /* 18px */

  --ds-text-paragraph-lg: 1.125rem; /* 18px */
  --ds-text-paragraph: 1rem; /* 16px */

  --ds-text-caption: 0.875rem; /* 14px */
  --ds-text-small: 0.75rem; /* 12px */

}


